<p align="center"><img src = "https://upload.wikimedia.org/wikipedia/commons/thumb/f/f8/Python_logo_and_wordmark.svg/2560px-Python_logo_and_wordmark.svg.png" width="200" height="auto" style="display: block;margin-left: auto;margin-right: auto;margin-bottom:-30px" /></p>
<h1 align="center" style="font-family:Calibri;color:#407daf;margin-left: 50px;text-align: center;">Introduction to python</h1>
<h2 align="center" style="font-family:Calibri;color:#ffe262;margin-left: 50px;margin-top: 0px;text-align: center;">Koorosh Komeilizadeh</h2>
<p align="center"><img src = "https://www.irangi.org/uploads/images/4_1560089256_1291127534.png" style="  -webkit-filter: drop-shadow(1px 1px 0 white)
                  drop-shadow(-1px -1px 0 white);
  filter: drop-shadow(1px 1px 0 white) 
          drop-shadow(-1px -1px 0 white);display: block;margin-left: auto;margin-right: auto;margin-top:15px" width="250" height="auto"/></p>
<h1 align="center" style="margin-left:50px;">Session 7</h1>

## File Handling

File handling is an important part of any web application.

The key function for working with files in Python is the open() function.

The open() function takes two parameters; filename, and mode.

There are four + 1 different methods (modes) for opening a file:

> "r" - Read - Default value. Opens a file for reading, error if the file does not exist

> "a" - Append - Opens a file for appending, creates the file if it does not exist

> "w" - Write - Opens a file for writing, creates the file if it does not exist

> "x" - Create - Creates the specified file, returns an error if the file exists

> "a+" - read and write

In [1]:
f = open('files/note.txt')

In [2]:
f

In [8]:
f.read()

'3\n4\n2\n6\n4\n3'

In [9]:
f.read()

''

#### Recall

In [20]:
f = open('files/note.txt' , 'r')

In [14]:
f

By default the read() method returns the whole text, but you can also specify how many characters you want to return:

In [21]:
f.read(8)

'3\n4\n2\n6\n'

Read Line by Line

In [22]:
f = open('files/note.txt' , 'r')
for line in f:
    print(line)

3

4

2

6

4

3

In [25]:
f = open('files/note.txt' , 'r')
for line in f:
    print(line.strip())

3
4
2
6
4
3

In [41]:
f = open('files/note.txt' , 'r')
counter = sum = 0
for line in f:
    counter += 1
    sum += int(line)

print("Average is",sum/counter)

Average is 3.6666666666666665

#### Readlines()

In [31]:
f = open('files/note.txt' , 'r')
lines = f.readlines()
print(lines)

['3\n', '4\n', '2\n', '6\n', '4\n', '3']

## Write

To write to an existing file, you must add a parameter to the open() function:

"a" - Append - will append to the end of the file

"w" - Write - will overwrite any existing content

In [44]:
f = open('files/note.txt' , 'a')
f.write(str(sum/counter))

18

In [45]:
f.close()

In [46]:
f = open('files/note.txt' , 'r')
print(f.read())

3
4
2
6
4
33.66666666666666653.6666666666666665

In [ ]:
f = open("myfile.txt", "x")

## Create file

> "w" - Write - Opens a file for writing, creates the file if it does not exist

> "x" - Create - Creates the specified file, returns an error if the file exists

In [47]:
f = open("files/note2.txt", "x")

In [48]:
f = open("files/note3.txt", "w")

In [49]:
import os
os.remove("files/note2.txt")

In [50]:
os.remove("files/note3.txt")

PermissionError: [WinError 32] The process cannot access the file because it is being used by another process: 'files/note3.txt'

In [51]:
f.close()

In [52]:
os.remove("files/note3.txt")

### Auto close

In [54]:
with open("files/note2.txt" , "a+") as f:
    f.write("Hello World")
    print(f.read())

In [55]:
os.remove("files/note2.txt")

## CSV

In [ ]:
Name,Email,Phone Number,Address
Koorosh,koorosh@yahoo.com,09120000000,Enghelab St
Alireza,alireza@gmail.com,09123847000,Valiasr St
Sourena,sourena@aut.ac.ir,09123933844,Taleghani St
Kiarash,kiarash@gmail.com,09128479385,Rasht St

In [65]:
import pandas as pd
df = pd.read_csv("files/info.csv")

In [66]:
df

      Name              Email  Phone Number       Address
0  Koorosh  koorosh@yahoo.com    9120000000   Enghelab St
1  Alireza  alireza@gmail.com    9123847000    Valiasr St
2  Sourena  sourena@aut.ac.ir    9123933844  Taleghani St
3  Kiarash  kiarash@gmail.com    9128479385      Rasht St

In [ ]:
Name,Math I,Math II,Chem,Farsi,Prog
Koorosh,15,16,14,20,20
Alireza,13,12,15,13,17
Sourena,10,13,15,18,16
Kiarash,14,17,13,19,20

In [124]:
grades = pd.read_csv("files/grades.csv")

In [125]:
grades

      Name  Math I  Math II  Chem  Farsi  Prog
0  Koorosh      15       16    14     20    20
1  Alireza      13       12    15     13    17
2  Sourena      10       13    15     18    16
3  Kiarash      14       17    13     19    20

In [69]:
import csv
with open("files/grades.csv") as csvfile:
    reader = csv.reader(csvfile)
    for row in reader:
        print(row)

['Name', 'Math I', 'Math II', 'Chem', 'Farsi', 'Prog']
['Koorosh', '15', '16', '14', '20', '20']
['Alireza', '13', '12', '15', '13', '17']
['Sourena', '10', '13', '15', '18', '16']
['Kiarash', '14', '17', '13', '19', '20']

In [110]:
data = []
with open("files/grades.csv") as csvfile:
    reader = csv.reader(csvfile)
    for row in reader:
        data.append(row)

data

[['Name', 'Math I', 'Math II', 'Chem', 'Farsi', 'Prog'],
 ['Koorosh', '15', '16', '14', '20', '20'],
 ['Alireza', '13', '12', '15', '13', '17'],
 ['Sourena', '10', '13', '15', '18', '16'],
 ['Kiarash', '14', '17', '13', '19', '20']]

In [111]:
data.pop(0)

['Name', 'Math I', 'Math II', 'Chem', 'Farsi', 'Prog']

In [112]:
data

[['Koorosh', '15', '16', '14', '20', '20'],
 ['Alireza', '13', '12', '15', '13', '17'],
 ['Sourena', '10', '13', '15', '18', '16'],
 ['Kiarash', '14', '17', '13', '19', '20']]

In [113]:
for i in range(len(data)):
    for j in range(1,len(data[i])):
        data[i][j] = int(data[i][j])

In [114]:
data

[['Koorosh', 15, 16, 14, 20, 20],
 ['Alireza', 13, 12, 15, 13, 17],
 ['Sourena', 10, 13, 15, 18, 16],
 ['Kiarash', 14, 17, 13, 19, 20]]

In [116]:
from statistics import mean

for i in range(len(data)):
    data[i].append(mean(data[i][1:6]))

In [117]:
data

[['Koorosh', 15, 16, 14, 20, 20, 17],
 ['Alireza', 13, 12, 15, 13, 17, 14],
 ['Sourena', 10, 13, 15, 18, 16, 14.4],
 ['Kiarash', 14, 17, 13, 19, 20, 16.6]]

In [119]:
for i in range(len(data)):
    print(f"Avg of {data[i][0]} is {data[i][-1]}")

Avg of Koorosh is 17
Avg of Alireza is 14
Avg of Sourena is 14.4
Avg of Kiarash is 16.6

### Better way

In [126]:
grades

      Name  Math I  Math II  Chem  Farsi  Prog
0  Koorosh      15       16    14     20    20
1  Alireza      13       12    15     13    17
2  Sourena      10       13    15     18    16
3  Kiarash      14       17    13     19    20

In [127]:
grades["AVG"] = grades.mean(numeric_only=True, axis='columns')

In [128]:
grades

      Name  Math I  Math II  Chem  Farsi  Prog   AVG
0  Koorosh      15       16    14     20    20  17.0
1  Alireza      13       12    15     13    17  14.0
2  Sourena      10       13    15     18    16  14.4
3  Kiarash      14       17    13     19    20  16.6

In [129]:
grades.to_csv('files/avg.csv', index=False)

## JSON

In [136]:
import json

with open('files/data.json', 'r') as myfile:
    data = myfile.read()

obj = json.loads(data)

print(obj)

{'name': 'John', 'age': 50, 'is_married': False, 'profession': 'programming', 'hobbies': ['traveling', 'photography']}

In [158]:
print(f"{obj['name']} is {obj['age']} which his profession is {obj['profession']}")

John is 50 which his profession is programming

In [ ]:
import json
import requests
  
key = "https://api.binance.com/api/v3/ticker/price?symbol=BTCUSDT"
  
data = requests.get(key)  
data = data.json()
print(f"{data['symbol']} price is {data['price']}")

In [1]:
import requests

url = "https://api.coindesk.com/v1/bpi/currentprice.json"

response = requests.get(url)
if response.status_code == 200:
    data = response.json()
    btc_price = data["bpi"]["USD"]["rate"]
    print(f"The current Bitcoin price is {btc_price} USD")
else:
    print("Failed to retrieve Bitcoin price from the API")

The current Bitcoin price is 22,082.7722 USD