<p align="center"><img src = "https://upload.wikimedia.org/wikipedia/commons/thumb/f/f8/Python_logo_and_wordmark.svg/2560px-Python_logo_and_wordmark.svg.png" width="200" height="auto" style="display: block;margin-left: auto;margin-right: auto;margin-bottom:-30px" /></p>
<h1 align="center" style="font-family:Calibri;color:#407daf;margin-left: 50px;text-align: center;">Introduction to python</h1>
<h2 align="center" style="font-family:Calibri;color:#ffe262;margin-left: 50px;margin-top: 0px;text-align: center;">Koorosh Komeilizadeh</h2>
<p align="center"><img src = "https://kooroshkz.com/aut/python/contents/source/img/autlogos.png" style="display: block;margin-left: auto;margin-right: auto;margin-top:15px" width="200" height="auto"/></p>
<h1 align="center" style="margin-left:50px;">Session 4</h1>

In [8]:
name = "Python"

In [4]:
name[4]

'o'

In [9]:
for i in range(int(len(name))):
    print(name[i])

P
y
t
h
o
n

#### How to code len() function

In [10]:
for i in name:
    print(i)

P
y
t
h
o
n

In [11]:
counter = 0
for i in name:
    counter +=1

print(counter)

6

### Slice

In [12]:
str = "Hello welcome to the class"

In [13]:
str[:4]

'Hell'

In [14]:
str[2:4]

'll'

In [15]:
str[:len(str):2]

'Hlowloet h ls'

### Upper / Lower

In [16]:
str

'Hello welcome to the class'

In [17]:
str.upper()

'HELLO WELCOME TO THE CLASS'

In [18]:
str.lower()

'hello welcome to the class'

### Strip

In [19]:
user = "   Username"
print(".",user)

.    Username

In [20]:
user.strip()

'Username'

In [21]:
print(".",user.strip())

. Username

### Find

In [22]:
text = "Amirkabir University of Technology (AUT), also called the Tehran Polytechnic, is a public technological university located in Tehran, Iran. Founded in 1928, AUT is the second oldest technical university established in Iran. It is referred to as the 'Mother of Engineering Universities'.[4] Acceptance to the university is competitive, entrance to undergraduate and graduate programs requiring scoring among the top 1% of students in the Iranian University Entrance Exam, known as 'Konkour'."

In [23]:
text

"Amirkabir University of Technology (AUT), also called the Tehran Polytechnic, is a public technological university located in Tehran, Iran. Founded in 1928, AUT is the second oldest technical university established in Iran. It is referred to as the 'Mother of Engineering Universities'.[4] Acceptance to the university is competitive, entrance to undergraduate and graduate programs requiring scoring among the top 1% of students in the Iranian University Entrance Exam, known as 'Konkour'."

In [28]:
text.find("A",1)

36

In [29]:
print(text[36:39])

AUT

## Built-in data types in Python

We have 4 type of data types for storing a collection of datas.

## List

In [30]:
list = [1322,1034,1823,9928]

In [31]:
ls = ["hi", 123 , True , 5.4]

In [32]:
list[0]

1322

In [33]:
list[:3]

[1322, 1034, 1823]

In [34]:
ls

['hi', 123, True, 5.4]

In [35]:
ls[0] = "Hello"

In [36]:
ls

['Hello', 123, True, 5.4]

#### Add to list

In [37]:
ls.append("3.14")

In [38]:
ls

['Hello', 123, True, 5.4, '3.14']

In [39]:
ls.insert(1, "2.71")

In [40]:
ls

['Hello', '2.71', 123, True, 5.4, '3.14']

#### Remove from list

In [41]:
ls.pop()

'3.14'

In [42]:
ls

['Hello', '2.71', 123, True, 5.4]

In [43]:
ls.remove("2.71")
ls.pop(0)

'Hello'

In [44]:
ls

[123, True, 5.4]

#### You can search for:

join list , sort list, search in list and ...

## Tuple
A tuple is a collection which is ordered and unchangeable.

In [45]:
thistuple = ("apple", "banana", "cherry", "apple", "cherry")

In [46]:
print(thistuple[1])

banana

In [47]:
print(thistuple[2:5])

('cherry', 'apple', 'cherry')

### Update Tuple

In [ ]:
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.append("orange")
thistuple = tuple(y)

print(thistuple)

## Set

A set is a collection which is ordered, unchangeable*, and unindexed.

In [51]:
s = {2,4,7,3,7}
s

{2, 3, 4, 7}

Set is not indexed so we can use for loop to see the content

In [52]:
s = {2,4,7,3,7,"a","abc", True}

for x in s:
  print(x)

True
2
3
4
7
abc
a

### Add to set

In [53]:
thisset = {"apple", "banana", "cherry"}

thisset.add("orange")

print(thisset)

{'banana', 'orange', 'cherry', 'apple'}

### Merge Sets

In [54]:
thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}

thisset.update(tropical)

print(thisset)

{'apple', 'mango', 'banana', 'pineapple', 'cherry', 'papaya'}

## Dictionary

In [55]:
dic = {40029043: 1938,
       40126094: 8374,
       9933029: 1380,
       97133010: 3010}

In [56]:
print(dic)

{40029043: 1938, 40126094: 8374, 9933029: 1380, 97133010: 3010}

In [59]:
print(dic[40029043])

1938

In [60]:
dic.keys()

dict_keys([40029043, 40126094, 9933029, 97133010])

In [61]:
dic.values()

dict_values([1938, 8374, 1380, 3010])

In [63]:
dic

{40029043: 1938, 40126094: 8374, 9933029: 1380, 97133010: 3010}

### Another form o define a dictionary

In [64]:
thisdict = dict(name = "John", age = 36, country = "Norway")
print(thisdict)

{'name': 'John', 'age': 36, 'country': 'Norway'}

### Change / Add items

In [65]:
dic = {40029043: 1938,
       40126094: 8374,
       9933029: 1380,
       97133010: 3010}

In [66]:
dic[40126094] = 4738

In [67]:
dic

{40029043: 1938, 40126094: 4738, 9933029: 1380, 97133010: 3010}

In [70]:
dic[40126094] = 1234

In [71]:
dic

{40029043: 1938, 40126094: 1234, 9933029: 1380, 97133010: 3010, 40126039: 1234}

In [72]:
import pprint

#pprint.pprint(dic) #doesnt work in jupyter

pprint.PrettyPrinter(width=20).pprint(dic)

{9933029: 1380,
 40029043: 1938,
 40126039: 1234,
 40126094: 1234,
 97133010: 3010}

In [73]:
dic.pop(97133010)

pprint.PrettyPrinter(width=20).pprint(dic)

{9933029: 1380,
 40029043: 1938,
 40126039: 1234,
 40126094: 1234}

## Nested Dictionary

In [74]:
myfamily = {
  "child1" : {
    "name" : "Emil",
    "year" : 2004
  },
  "child2" : {
    "name" : "Tobias",
    "year" : 2007
  },
  "child3" : {
    "name" : "Linus",
    "year" : 2011
  }
}

In [75]:
myfamily

{'child1': {'name': 'Emil', 'year': 2004},
 'child2': {'name': 'Tobias', 'year': 2007},
 'child3': {'name': 'Linus', 'year': 2011}}

In [76]:
pprint.PrettyPrinter(width=20).pprint(myfamily)

{'child1': {'name': 'Emil',
            'year': 2004},
 'child2': {'name': 'Tobias',
            'year': 2007},
 'child3': {'name': 'Linus',
            'year': 2011}}

<table>
<tr>
<th>Method</th>
<th>Description</th>
</tr>
<tr><td><a >clear()</a></td><td>Removes all the elements from the dictionary</td></tr>
<tr><td><a >copy()</a></td><td>Returns a copy of the dictionary</td></tr>
<tr><td><a >fromkeys()</a></td><td>Returns a dictionary with the specified keys and value</td></tr>
<tr><td><a >get()</a></td><td>Returns the value of the specified key</td></tr>
<tr><td><a >items()</a></td><td>Returns a list containing a tuple for each key value pair</td></tr>
<tr><td><a >keys()</a></td><td>Returns a list containing the dictionary's keys</td></tr>
<tr><td><a >pop()</a></td><td>Removes the element with the specified key</td></tr>
<tr><td><a >popitem()</a></td><td>Removes the last 
  inserted key-value pair</td></tr>
<tr><td><a >setdefault()</a></td><td>Returns the value of the specified key. If the key does not exist: insert the key, with the specified value</td></tr>
<tr><td><a >update()</a></td><td>Updates the dictionary with the specified key-value pairs</td></tr>
<tr><td><a >values()</a></td><td>Returns a list of all the values in the dictionary</td></tr>
</table>
<hr>
</div>

## Functions too add/remove/change item from dic

Part of Problem Sets but can be done in the class in case of haveing enough time

In [77]:
db = {}

In [79]:
def add_member(user,password):
    db[user] = password
    return db

In [80]:
add_member(40027022,1234)

{40027022: 1234}

In [81]:
db

{40027022: 1234}

In [82]:
add_member(input("Enter username"),input("Enter your Password"))

Enter username40027051
Enter your Password3241

{40027022: 1234, '40027051': '3241'}

In [83]:
db

{40027022: 1234, '40027051': '3241'}

In [84]:
def edit_pass(user,password):
    db[user] = password
    return db

In [85]:
edit_pass(input("Enter username"),input("Enter your Password"))

Enter username40027051
Enter your Password4321

{40027022: 1234, '40027051': '4321'}

In [95]:
db

{40027022: 1234, '40027051': '4321'}

In [98]:
db = {40027022: 1234, 40027051: 4321}

In [101]:
def rm_user(u,p):
    if p == db[u]:
        db.pop(u)
        return db
    else:
        print("Password is wrong")

In [103]:
rm_user(40027051,4321)

{40027022: 1234}

In [104]:
db

{40027022: 1234}